/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Della Respira', sans-serif;
  color: #444b41;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Macondo Swash Caps', sans-serif;
  color: #444b41;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a,
a:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #ffd4ac;
}
a:hover,
a:active {
  color: #126d1e;
  background-color: #ffd4ac;
}
nav {
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #126d1e;
  color: #444b41;
}
nav #nav-list {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% auto;
}
@media (max-width: 500px) {
  nav #nav-list {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 800px) {
  nav #nav-list {
    width: 80%;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 1000px) {
  nav #nav-list {
    width: 100%;
    margin: 1% 0;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
header {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  height: 500px;
  background-image: url("../img/dark-farm2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
header .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: white;
}
header .intro h2 {
  color: white;
  padding: 15px;
}
header .intro p {
  padding: 0 15px;
}
header #sign-in {
  background-color: #126d1e;
  color: #ffd4ac;
  margin: 1% 0;
  width: 150px;
  font-family: "Macondo Swash Caps", serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 1% 2%;
  border: none;
  border-radius: 10px;
}
.body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  margin: 5px auto;
}
@media (max-width: 500px) {
  .body {
    flex-flow: column nowrap;
    width: 100%;
  }
}
.body .body-text {
  width: 40%;
  align-self: flex-start;
}
.body .body-img {
  width: 40%;
  height: auto;
  background-color: #cccccc;
  height: 300px;
  background-image: url("../img/market2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.body .body-img img {
  border-radius: 10px;
}
.dev-tiles {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #cccccc;
}
@media (max-width: 500px) {
  .dev-tiles {
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
}
.dev-tiles .tile {
  width: 40%;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  border: 1px solid red;
}
@media (max-width: 500px) {
  .dev-tiles .tile {
    flex-flow: column nowrap;
    width: 80%;
  }
}
.dev-tiles .tile .bio {
  width: 45%;
}
.dev-tiles .tile .bio-img {
  width: 45%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
section.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10% 20%;
  background-color: #cccccc;
  background-image: url("../img/market1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
section.form form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  line-height: 1.5rem;
  font-size: 1.4rem;
  width: 60%;
  margin: 10% 20%;
  padding: 5% 5%;
  border: 1px solid red;
  background-color: beige;
}
@media (max-width: 500px) {
  section.form form {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 800px) {
  section.form form {
    width: 80%;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 1000px) {
  section.form form {
    width: 100%;
    margin: 1% 0;
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
section.form form #submit {
  background-color: #126d1e;
  color: #ffd4ac;
  margin: 1% 0;
  width: 150px;
  font-family: "Macondo Swash Caps", serif;
  font-size: 1.8rem;
  text-align: center;
  padding: 1% 2%;
  border: none;
  border-radius: 10px;
}
section.form #form-pic {
  width: 40%;
}
@media (max-width: 500px) {
  section.form #form-pic {
    display: none;
  }
}
footer {
  background: #126d1e;
  height: 40px;
  padding: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: #e5f3b1f3;
  font-size: 1rem;
}
@media (max-width: 500px) {
  footer p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 800px) {
  footer p {
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
@media (max-width: 1000px) {
  footer p {
    justify-content: space-around;
    align-items: center;
    align-self: center;
  }
}
