
// Mixins Here
.hover-button(@bg-c, @f-c) {
  background-color: @bg-c;
  color: @f-c;
}

.button() {
  background-color: @accent;
  color: @text;
  width: 150px;
  font-size: 1.8rem;
  text-align: center;
  padding: 3% 4%;
  border-radius: 5px;
}
