
// Color pointers
@nav-bg: @primary;
@nav-color:@bg;


@header-color: @text;
@main-color: @text;

@link: @accent;
@active-link: @primary;


// Color Variables
@primary: #126d1e;
@accent: #ffd4ac;
@bg:#e5f3b1f3;
@accent-bg: #cbe7a6;
@text: #444b41;
@accent-text: #032e19;

// Sizing Variables
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";
@laptop: ~"(max-width: 1000px)";